<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="ProyectosGestionConnectionString" connectionString="Data Source=172.16.1.31;Initial Catalog=ProyectosGestion;Persist Security Info=True;User ID=sa;Password=Adminpwd20" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<connectionStrings>
        <add name="ProyectosGestionConnectionString" connectionString="Data Source=JUAN-PC;Initial Catalog=ProyectosGestion;Persist Security Info=True;User ID=sa;Password=12ryuryu" providerName="System.Data.SqlClient" />
    </connectionStrings>-->  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
      <authentication mode="Forms">
        <forms name="SampleAuth"
          loginUrl="Views/Login/Inicio.aspx"               
          slidingExpiration="true">
        </forms>
      </authentication>
      
    </system.web>
  
</configuration>

